<%- include('partials/header') %>

    <!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Don't leave your perfect picks behind,add them to your cart!</p>
						<h1>Cart</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<% if(deletemsg!=""){ %>
								<div class="alert alert-success alert-dismissible" style="position: absolute; z-index: 1; left: 200px; ">
									<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
									<strong>Item removed from Cart.</strong>
								  </div>
								  <% } %>
								  <% if(addCart!=""){ %>
									<div class="alert alert-success alert-dismissible" style="position: absolute; z-index: 1; left: 200px; ">
										<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
										<strong>Item added to Cart.</strong>
									  </div>
									  <% } %>
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-remove"></th>
									<th class="product-image">Product Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-total">Total</th>
								</tr>
							</thead>
							<tbody>
								<% foundproducts.forEach(function(products){ %>
								<tr class="table-body-row">
									<td class="product-remove"><a href="/deleteCartItem?itemId=<%= products._id %>"><i class="far fa-window-close"></i></a></td>
									<td class="product-image"><img src="<%= products.path %>" alt=""  height="70px"></td>
									<td class="product-name"><%= products.mainCat %> <%= products.subCat %></td>
									<td class="product-price"><%= products.price %></td>
									<td class="product-total">1</td>
								</tr>
								<% }); %>
							</tbody>
						</table>
						
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th>Total</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Subtotal: </strong></td>
									<td><%= subTotal %></td>
								</tr>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td><%= shipping %></td>
								</tr>
								<tr class="total-data">
									<td><strong>Total: </strong></td>
									<td><%= total %></td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a href="/checkout" class="boxed-btn black">Check Out</a>
						</div>
						
					</div>

					
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->
    <%- include('partials/footer') %>
