<%- include('partials/header') %>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Shop the latest trends-without leaving your couch!</p>
                    <h1><%= mainCat %><%= subCat %></h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-50 mb-150" style="position: relative;">
    
    <div class="container" style="width: 1400px !important;">

        <div class="row">
            <div class="col-md-12">
                <nav class="main-menu" style="margin-bottom: 50px;">
                    <ul style="margin: auto; width: 80%; display: flex; justify-content: space-between;">

                        <li><a href="#" class="custum-btn" style="color: white;">Men</a>
                            <ul class="sub-menu" style="width: auto; z-index: 1;">
                                <table>
                                    <tr>
                                      <td><a href="/shopCat?mainCat=Men&subCat=Belt" style="color: darkslategrey !important;">Belt</a></td>
                                      <td><a href="/shopCat?mainCat=Men&subCat=footWear" style="color: darkslategrey !important;">Sandle</a></td>
                                      <td><a href="/shopCat?mainCat=Men&subCat=Pant" style="color: darkslategrey !important;">FormalPant</a></td>
                                      <td><a href="/shopCat?mainCat=Men&subCat=ShortPant" style="color: darkslategrey !important;">ShortPant</a></td>
                                      <td><a href="/shopCat?mainCat=Men&subCat=FullTshirt" style="color: darkslategrey !important;">FullTshirt</a></td>
                                      <td><a href="/shopCat?mainCat=Men&subCat=Tshirt" style="color: darkslategrey !important;">HalfTshirt</a></td>
                                    </tr>
                                    <tr>
                                      <td><a href="/shopCat?mainCat=Men&subCat=JeansPant" style="color: darkslategrey !important;">Jeans</a></td>
                                      <td><a href="/shopCat?mainCat=Men&subCat=Wallet" style="color: darkslategrey !important;">Wallet</a></td>
                                      <td><a href="/shopCat?mainCat=Men&subCat=FormalShirt" style="color: darkslategrey !important;">FormalShirt</a></td>
                                      <td><a href="/shopCat?mainCat=Men&subCat=SportShoe" style="color: darkslategrey !important;">SportShoe</a></td>
                                      <td><a href="/shopCat?mainCat=Men&subCat=Shirt" style="color: darkslategrey !important;">CasualShirt</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/shopCat?mainCat=Men&subCat=Watch" style="color: darkslategrey !important;">Watch</a></td>
                                        <td><a href="/shopCat?mainCat=Men&subCat=Sunglasses" style="color: darkslategrey !important;">SunGlasses</a></td>
                                        <td><a href="/shopCat?mainCat=Men&subCat=FormalShoe" style="color: darkslategrey !important;">FormalShoe</a></td>
                                        <td><a href="/shopCat?mainCat=Men&subCat=Shoe" style="color: darkslategrey !important;">CasualShoe</a></td>
                                        <td><a href="/shopCat?mainCat=Men&subCat=TrackPant" style="color: darkslategrey !important;">TrackPant</a></td>
                                      </tr>
                                  </table>
                            </ul>
                        </li>
                        <li><a href="#" class="custum-btn" style="color: white;">Women</a>
                            <ul class="sub-menu" style="width: auto; z-index : 1">
                                <table style="z-index: 1;">
                                    <tr>
                                        <td><a href="/shopCat?mainCat=Women&subCat=bellies" style="color: darkslategrey !important;">Bellies</a></td>
                                        <td><a href="/shopCat?mainCat=Women&subCat=Saree" style="color: darkslategrey !important;">Saree</a></td>
                                        <td><a href="/shopCat?mainCat=Women&subCat=JwellarySet" style="color: darkslategrey !important;">JwellarySet</a></td>
                                      </tr>
                                      <tr>
                                        <td><a href="/shopCat?mainCat=Women&subCat=flats" style="color: darkslategrey !important;">Flats</a></td>
                                        <td><a href="/shopCat?mainCat=Women&subCat=earrings" style="color: darkslategrey !important;">EarRings</a></td>
                                        <td><a href="/shopCat?mainCat=Women&subCat=Bengle" style="color: darkslategrey !important;">Bengle</a></td>
                                      </tr>
                                      <tr>
                                          <td><a href="/shopCat?mainCat=Women&subCat=juti" style="color: darkslategrey !important;">Jutis</a></td>
                                          <td><a href="/shopCat?mainCat=Women&subCat=kurti" style="color: darkslategrey !important;">Kurtis</a></td>
                                        </tr>
                                  </table>
                            </ul>
                        </li>
                        <li><a href="#" class="custum-btn" style="color: white;">Kids</a>
                            <ul class="sub-menu" style="width: auto; z-index : 1">
                                <table style="z-index: 1;">
                                    <tr>
                                        <td><a href="/shopCat?mainCat=Kids&subCat=girlsFootware" style="color: darkslategrey !important;">GirlsFootwer</a></td>
                                        <td><a href="/shopCat?mainCat=Kids&subCat=NightWear" style="color: darkslategrey !important;">KidsNightWear</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/shopCat?mainCat=Kids&subCat=game" style="color: darkslategrey !important;">Games</a></td>
                                      <td><a href="/shopCat?mainCat=Kids&subCat=hardToys" style="color: darkslategrey !important;">HardToys</a></td>
                                      <td><a href="/shopCat?mainCat=Kids&subCat=boysFootWare" style="color: darkslategrey !important;">BoysFootwear</a></td>
                                      <td><a href="/shopCat?mainCat=Kids&subCat=BottomWear" style="color: darkslategrey !important;">KidsBottomWear</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/shopCat?mainCat=Kids&subCat=softToys" style="color: darkslategrey !important;">SoftToys</a></td>
                                        <td><a href="/shopCat?mainCat=Kids&subCat=TopWear" style="color: darkslategrey !important;">KidsTopWear</a></td>
                                      </tr>
                                  </table>
                            </ul>
                        </li>
                        <li><a href="#" class="custum-btn" style="color: white;">Mobile</a>
                            <ul class="sub-menu" style="width: auto; z-index : 1">
                                <table style="z-index: 1;">
                                    <tr>
                                      <td><a href="/shopCat?mainCat=Mobile&subCat=adapter" style="color: darkslategray !important;">Adapter</a></td>
                                      <td><a href="/shopCat?mainCat=Mobile&subCat=powerBank" style="color: darkslategrey !important;">PowerBank</a></td>
                                      <td><a href="/shopCat?mainCat=Mobile&subCat=storageDevice" style="color: darkslategrey !important;">StorageDevice</a></td>
                                    </tr>
                                    <tr>
                                      <td><a href="/shopCat?mainCat=Mobile&subCat=speaker" style="color: darkslategrey !important;">Speaker</a></td>
                                      <td><a href="/shopCat?mainCat=Mobile&subCat=typec" style="color: darkslategrey !important;">TYPE-C</a></td>
                                      <td><a href="/shopCat?mainCat=Mobile&subCat=wiredEarphone" style="color: darkslategrey !important;">WiredEarphones</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/shopCat?mainCat=Mobile&subCat=USB" style="color: darkslategrey !important;">USB</a></td>
                                        <td><a href="/shopCat?mainCat=Mobile&subCat=lightningCable" style="color: darkslategrey !important;">Lightening</a></td>
                                        <td><a href="/shopCat?mainCat=Mobile&subCat=wirelessEarphone" style="color: darkslategrey !important;">WirelessEarphones</a></td>
                                      </tr>
                                  </table>
                            </ul>
                        </li>
                        <li><a href="#" class="custum-btn" style="color: white;">Computer</a>
                            <ul class="sub-menu" style="width: auto; z-index : 1">
                                <table style="z-index: 1;">
                                    <tr>
                                      <td><a href="/shopCat?mainCat=Computer&subCat=ethernet" style="color: darkslategrey !important;">Ethernet</a></td>
                                      <td><a href="/shopCat?mainCat=Computer&subCat=HDD" style="color: darkslategrey !important;">HDD</a></td>
                                      <td><a href="/shopCat?mainCat=Computer&subCat=monitor" style="color: darkslategrey !important;">Monitor</a></td>
                                      <td><a href="/shopCat?mainCat=Computer&subCat=wirelessMouse" style="color: darkslategrey !important;">WirelessMouse</a></td>
                                    </tr>
                                    <tr>
                                      <td><a href="/shopCat?mainCat=Computer&subCat=pendrive" style="color: darkslategrey !important;">Prendrive</a></td>
                                      <td><a href="/shopCat?mainCat=Computer&subCat=SSD" style="color: darkslategrey !important;">SSD</a></td>
                                      <td><a href="/shopCat?mainCat=Computer&subCat=wiredMouse" style="color: darkslategrey !important;">WiredMouse</a></td>
                                      <td><a href="/shopCat?mainCat=Computer&subCat=wirelessKeyboard" style="color: darkslategrey !important;">WirelessKeyboard</a></td>
                                    </tr>
                                    <tr>
                                        <td><a href="/shopCat?mainCat=Computer&subCat=HDMI" style="color: darkslategrey !important;">HDMI</a></td>
                                        <td><a href="/shopCat?mainCat=Computer&subCat=VGI" style="color: darkslategrey !important;">VGI</a></td>
                                        <td><a href="/shopCat?mainCat=Computer&subCat=wiredKeyboard" style="color: darkslategrey !important;">WiredKeyboard</a></td>
                                        
                                      </tr>
                                  </table>
                            </ul>
                        </li>
                        <li><a href="#" class="custum-btn" style="color: white;">Bag</a>
                            <ul class="sub-menu" style="width: auto; z-index : 1">
                                <table style="z-index: 1;">
                                    <tr>
                                      <td><a href="/shopCat?mainCat=Bags&subCat=laptopBag" style="color: darkslategrey !important;">LaptopBag</a></td>
                                      <td><a href="/shopCat?mainCat=Bags&subCat=travellingBag" style="color: darkslategrey !important;">TravellingBag</a></td>
                                      <td><a href="/shopCat?mainCat=Bags&subCat=menBag" style="color: darkslategrey !important;">MenBag</a></td>
                                    </tr>
                                    <tr>
                                      <td><a href="/shopCat?mainCat=Bags&subCat=womenBag" style="color: darkslategrey !important;">WomenBag</a></td>
                                    </tr>
                                  </table>
                            </ul>
                        </li>
                        

                       
                        <li></li>
                        
                    </ul>
                </nav>
            </div>
        </div>

        <div class="row product-lists">
            <% allItems.forEach(function(items){ %>
            <div class="col-lg-3 col-md-6 text-center strawberry">
                <div class="single-product-item">
                    <a class="Wishlist1" href="/addWishlist?mainCat=<%=  items.mainCat  %>&subCat=<%=  items.subCat  %>&color=<%=  items.color  %>&price=<%=  items.price  %>&path=<%=  items.path  %>&_id=<%=  items._id  %>&subCatType=<%=  items.subCatType  %>&name=<%=  items.name  %>"><i class="fas fa-heart" style="font-size: 25px;"></i></a>
                    <form action="/cart" method="post">
                    <div class="product-image">
                        <a href="/singleshop?mainCat=<%=  items.mainCat  %>&subCat=<%=  items.subCat  %>&color=<%=  items.color  %>&price=<%=  items.price  %>&path=<%=  items.path  %>&_id=<%=  items._id  %>&subCatType=<%=  items.subCatType  %>&name=<%=  items.name  %>"><img src="<%= items.path %>" alt="" width="250px" height="270px" ></a>
                    </div>
                    <h3><%=  items.mainCat  %> <%=  items.subCat  %></h3>
                    <p class="product-price"> <%=  items.price  %>Rs </p>
                    <input type="hidden" name="mainCat" value="<%=  items.mainCat  %>">
                    <input type="hidden" name="subCat" value="<%=  items.subCat  %>">
                    <input type="hidden" name="_id" value="<%=  items._id  %>">
                    <input type="hidden" name="subCatType" value="<%=  items.subCatType  %>">
                    <input type="hidden" name="name" value="<%=  items.name  %>">
                    <input type="hidden" name="path" value="<%=  items.path  %>">
                    <input type="hidden" name="color" value="<%=  items.color  %>">
                    <input type="hidden" name="price" value="<%=  items.price  %>">
                    <input type="submit" class="cart-btn" value="Add to Cart">
                </form>
                </div>
            </div>
            <% }); %>
          
            
            
            </div>
        </div>

        
    </div>
</div>
<!-- end products -->


<%- include('partials/footer') %>
